@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Niconne&family=Recursive:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Recursive, sans-serif;  
}

body {
    background-color: black;

}

header {
    width: 100%;
    background: radial-gradient(yellow,#ff8100);
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}
#pysch-girl
{
	width:450px;
}

#qna
{
    display: inline-block;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-size: 25px;
    border: solid 2px white;
}
#q
{
    padding: 5%;
}
#yes,#no
{
    
    border: 2px solid white;
    display: inline-block;
    padding: 2% 10% 2% 10%;
    margin-bottom: 5%;

}
#no
{
    display: none;
}
#no:hover
{
    background-color: red;
}
#yes:hover
{
    background-color: green;
}

@media screen and (max-width: 700px)
{
#pysch-girl
{
    width:100%;
    opacity: 0.7;
}
#qna
{
    width:75%;
}
}
